In [1]:
# Necessary import
import pandas as pd
import sqlalchemy # just to get the library version
from sqlalchemy import create_engine

# Libraries versions
print("Libraries Version:")
print("---" * 37)
print("Pandas verion:", pd.__version__)
print("SQLalchemy verion:", sqlalchemy.__version__)

Libraries Version:
---------------------------------------------------------------------------------------------------------------
Pandas verion: 2.2.2
SQLalchemy verion: 2.0.34

In [2]:
# Necessary install for postgres
!pip install psycopg2-binary
!pip install psycopg_binary

Requirement already satisfied: psycopg2-binary in /home/maxim-eyengue/anaconda3/lib/python3.12/site-packages (2.9.10)
Requirement already satisfied: psycopg_binary in /home/maxim-eyengue/anaconda3/lib/python3.12/site-packages (3.2.4)

In [3]:
# Let's download the data
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2025-01-28 12:59:51--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.3, 64:ff9b::8c52:7903
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250128T115953Z&X-Amz-Expires=300&X-Amz-Signature=f9ec2dfb0622f55a52a6186b93e7940ca3f48e01d82b2b495422d43345b4f633&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-28 12:59:54--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250128T115953Z&X-Amz-Expires=300&X-Amz-Signature=f9ec2dfb0622f55a52a6186b93e7940ca3f48e01d82b2b495422d43345b4f633&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz’

yellow_tripdata_202 100%[===================>]  23.87M   590KB/s    in 57s

2025-01-28 13:00:54 (432 KB/s) - ‘yellow_tripdata_2021-01.csv.gz’ saved [25031880/25031880]

In [4]:
# Let's extract the data
!gzip -d yellow_tripdata_2021-01.csv.gz

In [5]:
# First look at the data set
!head yellow_tripdata_2021-01.csv

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8,3,0.5,0,0,0.3,11.8,2.5
1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,.20,1,N,238,151,2,3,0.5,0.5,0,0,0.3,4.3,0
1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42,0.5,0.5,8.65,0,0.3,51.95,0
1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29,0.5,0.5,6.05,0,0.3,36.35,0
2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0,0.3,24.36,2.5
1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8,3,0.5,2.35,0,0.3,14.15,2.5
1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16,0.5,0.5,0,0,0.3,17.3,0
1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18,3,0.5,0,0,0.3,21.8,2.5
1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0,0,0.3,28.8,0

In [6]:
# check files
!ls -lh *.csv

-rw-r--r-- 1 maxim-eyengue maxim-eyengue 121M Jul 14  2022 yellow_tripdata_2021-01.csv

The data set is quite big. What we can do is keep only the first 100 rows for our experiments.

In [7]:
# Subset the data with command line and check it
!head -n 100 yellow_tripdata_2021-01.csv > yellow_head.csv
!ls -lh *.csv

-rw-r--r-- 1 maxim-eyengue maxim-eyengue 9.3K Jan 28 13:00 yellow_head.csv
-rw-r--r-- 1 maxim-eyengue maxim-eyengue 121M Jul 14  2022 yellow_tripdata_2021-01.csv

Now we have a lightweight version of the data set. We can also read only the 100 first rows directly as a dataframe.

In [8]:
# read the first 100 rows o the original data as a dataframe
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)
# Last five rows of the data set
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [9]:
# Convert dates from text format to time
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
# Create a connection to postgres
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Before putting the data set into our postgres database, we need to first generate a **schema** to know which columns there are and which data type too. Note that specifying `con`, the connexion argumnt will help to get the SQL code corresponding to our running postgres connexion.

In [11]:
# Get the data schema 
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
# Create an iterator to chunk the original data set into chunk of 100,000 rows
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize = 100000)

# Get an iteration
df = next(df_iter)
# Check its size
len(df)

100000

In [13]:
# Convert dates from text format to time
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
# Last rows
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [14]:
# Add data (0 row all columns) to the database - just to create a table
df.head(n = 0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

0

In [15]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append') # add some rows

CPU times: user 9.25 s, sys: 122 ms, total: 9.38 s
Wall time: 24.4 s

1000

In [22]:
# import the time function
from time import time

# Loop for adding the data
while True:
    # Initialize starting time
    t_start = time()
    
    # Get a data set iteration
    df = next(df_iter)

    # Convert date from text to date-time format
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    # Add the data to the database int the table `yellow_taxi_data`
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')

    # Ending time
    t_end = time()

    # Completion message for one operation
    print('Data Chunk Insertion, took %.3f second' % (t_end - t_start))

In [18]:
# Download the Lookup table
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-01-28 15:16:22--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.226.4.174, 13.226.4.64, 13.226.4.208, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.226.4.174|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-01-28 15:16:24 (62.9 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [20]:
# Zones dataframe
df_zones = pd.read_csv('taxi_zone_lookup.csv')
# First rows
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [24]:
# Add the zones table to our database
df_zones.to_sql(name = 'zones', con = engine, if_exists = 'replace')

265

---